<h1>MiniBlog</h1>

<%= notice %>
<span class="redText"><%= error %></span>


<%= form_for @post do |f| %>
  <p>
    <%= f.label 'Post something' %><br>
    <%= f.text_area :text %>
  </p>

  <%= button_to 'Publish' %>
<% end %>


<% @posts.reverse.each do |post| %>
  <p>
    <%= post.text %>
  </p>
  <%= link_to 'Show', post %>
  <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= time_ago_in_words post.created_at %> ago
<% end %>
