<h1>MiniBlog</h1>

<%= notice %>
<span class="redText"><%= error %></span>


<%= form_for @post do |f| %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <%= f.submit 'Publish' %>
<% end %>

<% @posts.each do |post| %>
  <p>
    <%= simple_format(post.text.html_safe) %>
  <p>
  <%= link_to 'Show', post %>
  <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= time_ago_in_words post.created_at %> ago
<% end %>
